<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>Your Favorite Drinks App</title>
</head>
<body>
    <div>
        <h1>My First Express, Node JS, and MongoDB App</h1>
    </div>
    <hr />
    <div>
        <table id="control_table">
          <tr>
            <td>
              <form action="/submit" method="POST">
                  <input type="text" placeholder="name" name="name">
                  <input type="text" placeholder="drink" name="drink">
                  <button type="submit">Add Your Favorite Drink</button>
              </form>
            </td>
            <td> | </td>
            <td>
              <form action="/resetdb" method="POST">
                  <button type="submit">*** Reset Database! ***</button>
              </form>
            </td>
            <td> | </td>
            <td>App Server: <%= host %></td>
          </tr> 
        </table>
    </div>
    <hr />
    <table id="drink_table">
      <tr>
        <th>ID</th>
        <th class="name">Name</th>
        <th class="drink">Favorite Drink</th>
      </tr>
      <% for(var i=0; i<drinks.length; i++) {%>
        <tr>
          <td class="__id"><%= drinks[i]._id %></td>
          <td class="name"><%= drinks[i].name %></td>
          <td class="drink"><%= drinks[i].drink %></td>
        </tr>
      <% } %>
    </table>
    <div>
        <hr />
        <h2>Template Version: 20170622</h2>
    </div>
</body>
</html>
