body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

#control_table td {
    padding: 5px;
    border: 1px solid red;
}

#drink_table th {
    border: 1px solid black;
    padding: 10px;
}

#drink_table td.name {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
}

#drink_table td.drink {
    border: 1px solid black;
    padding: 10px;
}

#drink_table td.__id {
    border: 1px solid black;
    padding: 10px;
}
/*
.quote {
  margin-top: 0.5em;
}

.quote > span:first-child {
  font-weight: bold
}

.quote > span:first-child:after {
  content:':'
}
*/

